 

.rat{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.rat h1{
    font-size: 62px;
}
.rat p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.union{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1PX solid #fff;
    padding: 12px 34px  ;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.union:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav.fa{
     display: block;
     color: #fff;
     margin: 9;
}
@media  (max-width:700px){
    .rat h1{
    font-size: 20px;

}
  .people ul li {
    display: block;
 
  } 
   
  
}
 /*------course-----*/
 .dav{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }
 h2{
    font-size: 36px;
    font-weight: 600;
 }
 p{
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22PX;
    padding: 10PX;
 }
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
 .the{
    flex-basis: 30%;
background: #fff3f3;
border-radius: 10px;
margin-bottom: 5%;
padding: 20px 12px;
box-sizing: border-box;
transition: 0.5s;
 }

 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 }
 .the:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0,0.2);
 }
 @media (max-width: 700px){
    .row{
        flex-direction: column;
    }
    }
     /*------farm-----*/
     .row{
        display: flex;
    
     } 
    .farm{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
   }
   .apple img{
    width:100%;
;

   }
   .jumia{
    background: rgba(226,0,0,0,0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
   }
 
 
    
 